[Unit]
Description=PowerTunnel
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/home/user/PowerTunnel
Environment="PATH=/home/user/PowerTunnel"
ExecStart=sudo java -jar /home/user/PowerTunnel/PowerTunnel.jar --start
ExecReload=/bin/kill -s HUP $MAINPID
RestartSec=5

[Install]
WantedBy=multi-user.target
